<div id="account" class="tab-pane fade in active">
		mail: <%= @profile.email %><br>
		Birthdate: <%= @profile.birth %><br>
		Gender: <%= @profile.gender %><br>
		Phone number: <%= @profile.phone_number %><br>
		<%= link_to 'Edit Profile', edit_account_registration_path %>
</div>
