<div id="tournament" class="tab-pane fade">
		<% if (@profile.tournaments_played.empty? == false) or (@profile.tournaments_orgnized.empty? == false) or (@profile.tournaments_sub_admin.empty? == false) then %>
				<table class="table table-hover table-responsive">
						<tread>
								<tr>
										<th>Tournament Name</th>
										<th>Role</th>
										<th>Action</th>
								</tr>
						</tread>
						<tbody>
								<% if (@profile.tournaments_played.empty? == false) then %>
										<% @profile.tournaments_played.each do |key, value| %>
												<tr>
														<td><%= link_to value, tournament_path(key)%></td>
														<td>Player</td>
														<td>None</td>
												</tr>
										<% end %>
								<% end %>
								<% if !current_account.admin %>
										<% if (@profile.tournaments_orgnized.empty? == false) then %>
												<% @profile.tournaments_orgnized.each do |key, value| %>
														<tr>
																<td><%= link_to value, tournament_path(key)%></td>
																<td>Organizer</td>
																<td>
																		<%= link_to("Arrange Group", organizers_show_path(:tournament_id => key), :class => "btn btn-primary btn-xs")  %>
																		<%= link_to("Check In", organizers_update_path(:tournament_id => key), :class => "btn btn-info btn-xs")  %>
																</td>
														</tr>
												<% end %>
										<% end %>

										<% if (@profile.tournaments_sub_admin.empty? == false) then %>
												<% @profile.tournaments_sub_admin.each do |key, value| %>
														<tr>
																<td><%= link_to value, tournament_path(key)%></td>
																<td>Sub-Admin</td>
																<td><%= link_to("Arrange Group", sub_admins_show_path, :class => "btn btn-primary btn-xs")  %></td>
														</tr>
												<% end %>
										<% end %>
								<% end %>

								<% if current_account.admin%>
									<% if (@profile.tournaments_orgnized.empty? == false) then %>
										<% @profile.tournaments_orgnized.each do |key, value| %>
											<tr>
												<td><%= link_to value, tournament_path(key)%></td>
												<td>Admin</td>
												<td>
													<%= link_to("Arrange Group", organizers_show_path(:tournament_id => key), :class => "btn btn-primary btn-xs")  %>
													<%= link_to("Check In", organizers_update_path(:tournament_id => key), :class => "btn btn-info btn-xs")  %>
												</td>
											</tr>
										<% end %>
									<% end %>
								<% end %>
					</tbody>
				</table>
		<% else %>
				<h4>You have not joined any tournament yet.</h4>
				<h4><%= link_to('Click here to view avalible tournaments', tournaments_path) %></h4>
		<% end %>
</div>
