<div class="padding-navbar picture-background">
		<div class="container">
				<div class="row row-eq-height profile">
						<div class="col-md-3">
								<div class="profile-sidebar">
										<!-- SIDEBAR USERPIC -->
										<div class="profile-userpic">
												<%= image_tag(@profile.image.url, :class => "img-responsive", alt:@profile.name)%>
										</div>
										<!-- END SIDEBAR USERPIC -->
										<!-- SIDEBAR USER TITLE -->
										<div class="profile-usertitle">
												<div class="profile-usertitle-name">
														<%= @profile.name %>
												</div>
												<!-- <div class="profile-usertitle-job">
												</div> -->
										</div>
										<!-- END SIDEBAR USER TITLE -->
										<!-- SIDEBAR BUTTONS -->
										<!-- END SIDEBAR BUTTONS -->
										<!-- SIDEBAR MENU -->
										<div class="profile-usermenu">
												<ul class="nav">
													<li class="active">
															<a data-toggle="tab" href="#account">
															<i class="fa fa-user fa-fw"></i>
															Account</a>
													</li>
													<li>
															<a data-toggle="tab" href="#tournament">
															<i class="fa fa-trophy fa-fw"></i>
															Tournament </a>
													</li>
													<li>
															<a data-toggle="tab" href="#sponsorship">
															<i class="fa fa-handshake-o fa-fw"></i>
															Sponsorship </a>
													</li>
											</ul>
									</div>
									<!-- END SIDEBAR MENU -->
							</div>
						</div>

						<div class="col-md-9">
							<div class="profile-content tab-content">
								<%= render "profiles/profile_account_info"%>
								<%= render "profiles/tournament_account_info"%>
								<%= render "profiles/sponsorship_account_info"%>
							</div>
						</div>
				</div>
		</div>
</div>
