<div class="padding-navbar">
		<h1>My Profile</h1>
		Profile Picture:<br>
		Name: <%= @profile.name %><br>
		Email: <%= @profile.email %><br>
		Birthdate: <%= @profile.birth %><br>
		Gender: <%= @profile.gender %><br>
		Phone number: <%= @profile.phone_number %><br>
		<%= link_to 'Edit Profile', edit_account_registration_path %>

		<h2>Tournaments I play in</h2>
		<% if (@profile.tournaments_played.empty? == false) then %>
				<% @profile.tournaments_played.each do |key, value| %>
						<p><%= link_to value, tournaments_show_path(:tournamet_id => key)%></p>
				<% end %>
		<% else %>
				<p>You have't joined any tournament yet</p>
		<% end %>

		<h2>Tournaments I organize</h2>
		<% if (@profile.tournaments_orgnized.empty? == false) then %>
				<% @profile.tournaments_orgnized.each do |key, value| %>
						<p><%= link_to value, tournaments_show_path(:tournament_id => key)%></p>
				<% end %>
				<%= link_to "arrange group", organizers_show_path %>
		<% else %>
				<p>You haven't orgnized any tournamnet yet</p>
		<% end %>
		<h2>Sponsor Info</h2>
				<p>Sponsored Tournament</p>
		<h2>Payment Info</h2>
				<p>Credit card info: *******0000</p>
</div>
