<h1>My Profile</h1>

Name: <%= @account.name %><br>
Email: <%= @account.email %><br>
Birthdate: <%= @account.birth %><br>
Gender: <%= @account.gender %><br>
Phone number: <%= @account.phone_number %><br>

<%= link_to 'Edit Profile', '' %>
