<div class="padding-navbar">
		<h1>My Profile</h1>

		Name: <%= @account.name %><br>
		Email: <%= @account.email %><br>
		Birthdate: <%= @account.birth %><br>
		Gender: <%= @account.gender %><br>
		Phone number: <%= @account.phone_number %><br>
		<%= link_to 'Edit Profile', edit_account_registration_path %>

		<h2>Tournaments I play in</h2>
		<% if (@player.empty? == false) then %>
				<% @player.each do |p| %>
				<%= p.tournament_id %>
				<% end %>
		<% else %>
				<p>You have't joined any tournament yet</p>
		<% end %>

		<h2>Tournaments I organize</h2>
		<% if (@organizer.empty? == false) then %>
				<% @organizer.each do |o| %>
						<%= o.tournament_id %>
				<% end %>
		<% else %>
				<p>You haven't orgnized any tournamnet yet</p>
		<% end %>
</div>
