<div class="static-pages-head padding-navbar">
</div>


<div class="container">
    <div class="row">
    	<div class="static-page-title-boarder"><h2 style="color:#006400">Our Partners</h2></div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<%= image_tag("Callaway-Golf-logo.png", :class=>"img-fluid img-responsive rounded")%>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<%= image_tag("AdidasGolf-logo.png", :class=>"img-fluid img-responsive rounded")%>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<%= image_tag("Buick_Golf-logo.png", :class=>"img-fluid img-responsive rounded")%>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= image_tag("dallmayr-logo.png", :class=>"img-fluid img-responsive rounded")%>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= image_tag("Fairway_Golf-logo.png", :class=>"img-fluid img-responsive rounded")%>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= image_tag("FILA_Golf-logo.png", :class=>"img-fluid img-responsive rounded")%>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= image_tag("Nike-logo.png", :class=>"img-fluid img-responsive rounded")%>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= image_tag("srixon-logo.png", :class=>"img-fluid img-responsive rounded")%>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= image_tag("tournament-logo.png", :class=>"img-fluid img-responsive rounded")%>
        </div>
	</div>
</div>
