<div class="about-us-image">
</div>

<div class="about-us-background">
    <div class="about-us-container">
        <div class="col-lg-6 col-sm-6">
            <h2 style="color:#006400">OUR IDEA</h2>
            <h3>By golfers, for golfers</h3>
            <h4>
                <br>As golfers ourselves, we know how difficult it is to connect with local golfing communities and join golf tournaments for suitable skill levels.
                We also understand the frustration of tournament organizers to advertise and manage their tournaments efficiently.
            </h4>
            <h4><br>Therefore, we designed Golfi, a free website providing simple yet powerful tools for creating, joining, managing, and sponsoring golf tournaments.</h4>

        </div>
        <div class="col-lg-6 col-sm-6 left-boarder">
            <h2 style="color:#006400">OUR TEAM<br><br></h2>

            <div class="row row-eq-height">
                <div class="col-md-4 text-center">
                    <%= image_tag("Tuo_Zhang.jpg", :alt => "Tuo_Zhang icon", :class => "img-circle")%>
                    </br>
                    <h4>Tuo Zhang</h4>
                    <h5>Lead Developer</h5>
                </div>
                <div class="col-md-4 text-center">
                    <%= image_tag("anqiwu.jpg", :alt => "Anqi Wu icon", :class => "img-circle")%>
                    <h4>Anqi Wu</h4>
                    <h5>Front-end Developer</h5>
                </div>
                <div class="col-md-4 text-center">
                    <%= image_tag("yizhengyang.jpg", :alt => "YiZheng Yang icon", :class => "img-circle")%>
                    <h4>YiZheng Yang</h4>
                    <h5>Front-end Developer</h5>
                </div>
            </div>

            <div class="row row-eq-height">
                <div class="col-md-4 text-center">
                    <%= image_tag("edwinzhang.jpg", :alt => "Yuxuan Zhang icon", :class => "img-circle")%>
                    <h4>Yuxuan Zhang</h4>
                    <h5>Back-end Developer</h5>
                </div>
                <div class="col-md-4 text-center">
                    <%= image_tag("yanrongwang.jpg", :alt => "Yanrong Wang icon", :class => "img-circle")%>
                    <h4>Yanrong Wang</h4>
                    <h5>Back-end Developer</h5>
                </div>
                <div class="col-md-4 text-center">
                    <%= image_tag("newtonlam.jpg", :alt => "Newton Lam icon", :class => "img-circle")%>
                    <h4>Newton Lam</h4>
                    <h5>Back-end Developer</h5>
                </div>
            </div>

            <div class="row row-eq-height">
              <div class="col-md-4 text-center">
                  <%= image_tag("Stumm.jpg", :alt => "Stumm icon", :class => "img-circle")%>
                  <h4>Michael Stumm</h4>
                  <h5>Best Professor</h5>
              </div>
              <div class="col-md-4 text-center">
                  <%= image_tag("yezhihe.jpg", :alt => "Yezhi He icon", :class => "img-circle")%>
                  <h4>Yezhi He</h4>
                  <h5>Past Member</h5>
              </div>
              <div class="col-md-4 text-center">
                  <%= image_tag("bobkong.jpg", :alt => "Bob Kong icon", :class => "img-circle")%>
                  <h4>Bob Kong</h4>
                  <h5>Past Member</h5>
              </div>
            </div>
        </div>
    </div>
</div>
