<div class="padding-navbar sponsor-background">
  <div class="glass-container">
    <td><%= link_to '< Back', request.referrer %></td>
    <% @arrangement.tournaments_created.each do |key, value|%>
    <h1><%= key %></h1>
    <table class="table table-striped">
        <thead>
            <th>players</th>
            <th>group</th>
            <th>sub_admin</th>
            <th>group_update</th>
            <th>sub_admin_update</th>
        </thead>
        <tbody>
            <% value[0].each do |t|%>
            <tr>
                <td><%= Account.find(t.account_id).name %> </td>
                <td><%= t.group_id %> </td>

                <% if value[1].blank? then %>
                  <td><span class="glyphicon glyphicon-remove" aria-hidden="false"></span></td>
                <% end %>

                <% if value[1].present? then%>
                    <% value[1].each do |f|%>
                        <td>
                          <% if (f.account_id == t.account_id) then %>
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                          <%else%>
                            <span class="glyphicon glyphicon-remove" aria-hidden="false"></span>
                          <%end%>
                        </td>
                    <% end %>
                <% end %>

                <td><%= form_for(:player, :url => {:controller => 'players', :account_id => t.account_id, :tournament_id =>t.tournament_id, :action => 'update'}) do |f| %>
                    <%= f.text_field :group_id_organizer%>
                    <%= f.submit "update"%>
                </td>
                <% end %>


                <td><%= form_for(:sub_admin, :url => {:controller => 'sub_admins', :account_id => t.account_id, :tournament_id =>t.tournament_id, :action => 'create'}) do |f| %>
                  <%= f.label :approve, "Yes", :value => "true"  %>
                  <%= f.radio_button :approve, true %>
                  <%= f.label :approve, "No", :value => "false" %>
                  <%= f.radio_button :approve, false, :checked => true %>
                  <%= f.submit "update"%>
                </td>
                <% end %>

            </tr>
            <% end %>
        </tbody>
    </table>
    <% end %>

</div>
</div>
