<div class="padding-navbar">
    <h1><% "Arrangement"%></h1>
    <% @arrangement.tournaments_created.each do |key, value|%>
    <%= key %>
    <table class="table table-striped">
        <thead>
            <th>players</th>
            <th>checkin</th>
        </thead>
        <tbody>
            <% value[0].each do |t|%>
            <tr>
                <td><%= Account.find(t.account_id).name %> </td>
                <td><%= t.checkin %> </td>

            </tr>
            <% end %>
            <td><%= form_for(:player, :url => {:controller => 'players',:action => 'update'}) do |f| %>
                <%= f.text_field :ticketnumber%>
                <%= f.submit "update"%>
            </td>
            <% end %>
        </tbody>
    </table>
    <% end %>
    <td><%= link_to 'Back', tournaments_index_path %></td>

</div>
