<div class="padding-navbar">
<h1>Edit Tournament</h1>

<%= form_for(:tournament, :url => {:controller => 'tournaments', :id => @tournament.id, :action => 'update'}, method: :put) do |f| %>

  <div class="field">
    <%= f.label :name, 'Tournament Name' %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :venue, 'Tournament Venue' %><br />
    <%= f.text_field :venue %>
  </div>

  <div class="field">
    <%= f.label :date, 'Tournament Date' %><br />
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :details, 'Tournament Details' %><br />
    <%= f.text_field :details %>
  </div>

  <div class="field">
    <%= f.label :contact, 'Contact Information' %><br />
    <%= f.text_field :contact %>
  </div>

  <div class="field">
    <%= f.label :private, 'Make Tournament Private' %><br />
    <%= f.check_box :private %>
  </div>

  <div class="actions">
    <%= f.submit "Edit" %>
  </div>
<% end %>
</div>
