<div class="padding-navbar">
<div id="error_explanation">
  <% if flash[:error].present? %>
    <p><%= flash[:error] %></p>
  <% end %>
</div>
<% @tournament_detail.each do |t| %>
  <h1><%= t.name%></h1>
  <table class = "table table-striped">
  	<thead>
  		<th>Description</th>
  		<th>Venue</th>
  		<th>Date</th>
  		<th>Contact</th>
  	</thead>
  	<tbody>
      <% if t.private == false %>
  		<tr>
        <td><%= t.details%></td>
  			<td><%= t.venue%></td>
  			<td><%= t.date%></td>
  			<td><%= t.contact%></td>
        <% if t.slots > 0 %>
        <td>
          <%= form_tag players_create_path do %>
            <% if defined?(current_account.id) && (current_account.id != '')%>
                <% @account = Account.find(current_account.id)%>
                <%= hidden_field_tag 'email', @account.email %>
            <% else %>
                <%= hidden_field_tag 'email'%>
            <% end %>
            <%= hidden_field_tag 'tournament_id', t.id %>
            <%= hidden_field_tag 'amount', t.ticket_price*100 %>
            <%= hidden_field_tag(:stripeToken) %>
            <% if !current_account.nil? %>
            <% @duplicate_player = Player.where(tournament_id: t.id, account_id: current_account.id) %>
            <% if @duplicate_player.blank? %>
              <%= hidden_field_tag 'player_id'%>
            <% else %>
              <%= hidden_field_tag 'player_id', @duplicate_player%>
            <% end %>
            <% end %>
            <button id='signupButton'>Sign Up</button>
          <% end %>
        </td>
        <td><%= link_to 'players in tournament', players_show_path(:tournament_id => t.id) %></td>
        <% end %>
        <td><%= link_to 'Back', tournaments_index_path %></td>
    </tr>
    <% end %>
  	</tbody>
  </table>

  <%= link_to('To see current sponsorships', sponsorships_index_path(:tournament_id =>t.id), :class => 'btn btn-large btn-primary')%>
  <%= link_to('Want To Donate Money to tournament', sponsorships_new_path(:tournament_id =>t.id), :class => 'btn btn-large btn-primary')%>
  <br/><br/>

  <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBDGM6j6MEEI73Tcd5pgIs_n674JFRWjBw&q=+<%= t.venue %>" allowfullscreen>
  </iframe>
  <br>
  Share this tournament!<br>
  <%= facebook_button %><%= twitter_button %><%= linkedin_button %>

<% end %>

</div>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>

$('#signupButton').on('click', function(e) {
  e.preventDefault();
  $('#error_explanation').html('');
  var email = $('input#email').val();
  var player_id = $('input#player_id').val();
  if(player_id){
      $('#error_explanation').html('<p>You are already signed up for this tournament</p>');
  }
  else {
    if (email) {
      var amount = $('input#amount').val();
      StripeCheckout.open({
        key: '<%= Rails.configuration.stripe[:publishable_key] %>',
        locale: 'auto',
        name: 'Golf Tournament Ticket',
        description: 'pay',
        currency: 'cad',
        email: email,
        amount: amount,
        token: function(token){
          $('input#stripeToken').val(token.id);
          $('form').submit();
        }
      });
    }
    else {
      $('#error_explanation').html('<p>Please Login before Sign Up</p>');
    }
  }
});

// Close Checkout on page navigation
$(window).on('popstate', function() {
  handler.close();
});
</script>
