<div class="padding-navbar tournament-background">
    <div class="small-padding container">
      <div id="error_explanation">
          <% if flash[:error].present? %>
              <p><%= flash[:error] %></p>
          <% end %>
      </div>
        <div class="row row-eq-height">
            <div class="col-md-3 col-sm-3">
                <div class="user-wrapper">
                    <div class="profile-userpic">
                        <% if @tournament.logo.url.present? %>
                             <%= image_tag(@tournament.logo.url, :alt => "Logo Image", :class => "img-responsive", :style =>"width:200px;height:auto;")%>
                        <% else %>
                              <%= image_tag("tournament-logo.png", :alt => "Default Logo", :class => "img-responsive")%>
                        <% end %>
                    </div>

                    <div class="description">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-12 sm-padding">
                              <h2><%= @tournament.name%></h2>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 sm-padding">
                              <% if @tournaments_orgnized.include?(@tournament.id) || (current_account && current_account.admin?) %>
                                  <%= link_to('Edit This Tournament', edit_tournament_path(@tournament.id), :class => "btn btn-success btn-block btn-sm") %>
                              <% end %>
                              <%= link_to('View Players In Tournament', players_show_path(:tournament_id => @tournament.id), :class => "btn btn-success btn-block btn-sm") %>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 sm-padding">
                              <span>Date:</span>
                            </div>
                            <div class="col-md-6 sm-padding">
                              <span><%=@tournament.date%></span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-8 sm-padding">
                              <span>Avaliable Slots:</span>
                            </div>
                            <div class="col-md-4 sm-padding">
                              <span><%= @tournament.slots%></span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 sm-padding">
                              <span>Ticket Price:</span>
                            </div>
                            <div class="col-md-6 sm-padding">
                              <span>$<%= @tournament.ticket_price %>/player</span>
                              <span>$<%= @tournament.ticket_price_guest %>/guest</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 sm-padding mrgn-top">
                              <% if @tournament.slots > 0 %>
                                  <%= form_tag players_create_path, id: "player_form" do %>
                                      <% if defined?(current_account.id) && (current_account.id != '')%>
                                          <% @account = Account.find(current_account.id)%>
                                          <%= hidden_field_tag 'email', @account.email %>
                                      <% else %>
                                          <%= hidden_field_tag 'email'%>
                                      <% end %>

                                      <%= hidden_field_tag 'tournament_id', @tournament.id %>
                                      <%= hidden_field_tag 'amount', @tournament.ticket_price*100 %>
                                      <%= hidden_field_tag(:stripeToken) %>
                                      <% if current_account %>
                                          <% @duplicate_player = Player.where(tournament_id: @tournament.id, account_id: current_account.id) %>
                                          <% if @duplicate_player.blank? %>
                                              <%= hidden_field_tag 'player_id'%>
                                          <% else %>
                                              <%= hidden_field_tag 'player_id', @duplicate_player%>
                                          <% end %>
                                      <% end %>
                                      <button id='signupButton' class="btn btn-primary btn-block btn-xs col-lg-12 center-block">Sign Up As Player</button>
                                  <% end %>
                              <% else %>
                                  <button class="btn btn-danger btn-block btn-xs col-lg-12 center-block">Tournament Is Full</button>
                              <% end %>
                              </div>
                              <div class="col-md-6 sm-padding mrgn-top">
                                <button data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-block btn-xs col-lg-12 center-block">Purchase As Guest</button>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 sm-padding mrgn-top">
                              <%= link_to(sponsorship_path(@tournament.id), :class => "btn btn-primary btn-block btn-xs col-lg-12 center-block") do %>
                                  View Sponsorship
                              <% end %>
                            </div>
                            <div class="col-md-6 sm-padding mrgn-top">
                              <%= link_to(new_sponsorship_path(:tournament_id => @tournament.id), :class => "btn btn-primary btn-block btn-xs col-lg-12 center-block") do %>
                                  Become A Sponsor
                              <% end %>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 sm-padding mrgn-top">
                              <span>Share this tournament!</span><br/>
                              <%= twitter_button %><%= linkedin_button %><%= facebook_button %>
                            </div>
                          </div>
                          <%= link_to('< Back to tournament list', tournaments_path, :class => "btn btn-link btn-sm") %>
                        </div>
                      </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-9 user-wrapper">
                <div class="description">
                    <div class="row description-container">
                        <h2>About the tournament</h2>
                        <%= markdown(@tournament.details) %>
                    </div>
                    <hr>

                    <div class="col-md-5 col-sm-12 map-container">
                        <h2>Contact & Location</h2>
                        <p><%=@tournament.contact%></p>
                        <p><%=@tournament.venue%></p>
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBDGM6j6MEEI73Tcd5pgIs_n674JFRWjBw&q=+<%= @tournament.venue %>" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <h2>Photos</h2>
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <% if @tournament.attachments.present? %>
                              <ol class="carousel-indicators">
                                  <% @tournament.attachments.each_with_index do |photo, n| %>
                                      <li data-target='#MyCarousel' data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
                                  <% end %>
                              </ol>

                              <!-- Wrapper for slides -->
                              <div class="carousel-inner" role="listbox">
                                  <div class="item active">
                                      <%= image_tag @tournament.attachments.first.avatar.url, class: "img-responsive center-block" %>
                                  </div>
                                  <% @tournament.attachments.drop(1).each do |p| %>
                                      <div class="item">
                                          <%= image_tag p.avatar.url, class: "img-responsive center-block"%>
                                      </div>
                                  <% end %>
                              </div>
                            <% else %>
                              <ol class="carousel-indicators">
                                  <li data-target='#MyCarousel' data-slide-to="#0" class="#active"></li>
                              </ol>

                              <!-- Wrapper for slides -->
                              <div class="carousel-inner" role="listbox">
                                  <div class="item active">
                                      <%= image_tag "default-attachment.png", :alt => "Default Image", :class => "img-responsive center-block" %>
                                  </div>
                              </div>
                            <% end %>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Popup for purchasing guest tickets -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Guests Tickets</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            Number of Tickets
                        </tr>
                        <tr>
                            <%= select_tag("NumberofTickets", options_for_select([1,2,3,4,5])) %></tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <%= form_tag transactions_create_path, id: "guest_form" do %>
                    <% if defined?(current_account.id) && (current_account.id != '')%>
                        <% @account = Account.find(current_account.id)%>
                        <%= hidden_field_tag 'guest_email', @account.email %>
                    <% else %>
                        <%= hidden_field_tag 'guest_email'%>
                    <% end %>
                    <%= hidden_field_tag 'guest_tournament_id', @tournament.id %>
                    <%= hidden_field_tag 'guest_amount', @tournament.ticket_price_guest %>
                    <%= hidden_field_tag(:stripeToken) %>
                <% end %>
                <button id="GuestPurchase" type="button" class="btn btn-default" data-dismiss="modal">CheckOut</button>
            </div>
        </div>
    </div>
</div>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
    $('#signupButton').on('click', function (e) {
        e.preventDefault();
        $('#error_explanation').html('');
        var email = $('input#email').val();
        var player_id = $('input#player_id').val();
        if (player_id) {
            $('#error_explanation').html('<div class="alert alert-danger alert-dismissible"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Warning!</strong> You have already in this tournament.</div>');
        } else {
            if (email) {
                var amount = $('input#amount').val();
                StripeCheckout.open({
                    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                    locale: 'auto',
                    name: 'Golf Tournament Ticket For Player',
                    description: 'pay',
                    currency: 'cad',
                    email: email,
                    amount: amount,
                    token: function (token) {
                        $('input#stripeToken').val(token.id);
                        $('#player_form').submit();
                    }
                });
            } else {
                $('#error_explanation').html('<div class="alert alert-danger alert-dismissible"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Warning!</strong> Please Login before Sign up.</div>');
            }
        }
    });
    $('#GuestPurchase').on('click', function (e) {
        e.preventDefault();
        $('#error_explanation').html('');
        var email = $('input#guest_email').val();
        var player_id = $('input#guest_player_id').val();
        if (email) {
            var amount = $('input#guest_amount').val() * $("#NumberofTickets").val() * 100;
            StripeCheckout.open({
                key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                locale: 'auto',
                name: 'Golf Tournament Ticket For Guests',
                description: 'pay',
                currency: 'cad',
                email: email,
                amount: amount,
                token: function (token) {
                    $('input#stripeToken').val(token.id);
                    $('input#guest_amount').val(amount)
                    $('#guest_form').submit();
                }
            });
        } else {
            $('#error_explanation').html('<div class="alert alert-danger alert-dismissible"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Warning!</strong> Please Login before Purchase.</div>');
        }
    });
    // Close Checkout on page navigation
    $(window).on('popstate', function () {
        handler.close();
    });
</script>
