<div class="padding-navbar">
<% @tournament_detail.each do |t| %>
  <h1><%= t.name%></h1>
  <table class = "table table-striped">
  	<thead>
  		<th>Name</th>
  		<th>Venue</th>
  		<th>Date</th>
  		<th>Contact</th>
  	</thead>
  	<tbody>
      <% if t.private == false %>
  		<tr>
        <td><%= t.name%></td>
  			<td><%= t.venue%></td>
  			<td><%= t.date%></td>
  			<td><%= t.contact%></td>
        <% if t.slots > 0 %>
        <td><%= link_to 'Sign up', players_create_path(:tournament_id => t.id), :method => :post%></td>
        <% end %>
        <td><%= link_to 'players in tournament', players_show_path(:tournament_id => t.id) %></td>
        <td><%= link_to 'Back', tournaments_index_path %></td>
  		</tr>
      <% end %>
  	</tbody>
  </table>

  <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBDGM6j6MEEI73Tcd5pgIs_n674JFRWjBw&q=+<%= t.venue %>" allowfullscreen>
  </iframe>


    <%= link_to('To see current sponsorships', sponsorships_index_path(:tournament_id =>t.id), :class => 'btn btn-large btn-primary')%>
    <%= link_to('Want To Donate Money to tournament', sponsorships_new_path(:tournament_id =>t.id), :class => 'btn btn-large btn-primary')%>

<% end %>

</div>
