<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>GOLFi</h1>
                    <h3>JOIN, HOST and SPONSOR golf tournaments</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons"></ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a name="services"></a>
<div class="content-section-a">

    <div class="container container-front-page">
        <div class="col-lg-12 padding-navbar">
            <h1 align="middle">How it works</h1>
            <hr class="intro-divider">
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="clearfix"></div>
            <h2 class="section-heading">Golfer</h2>
            <%= image_tag("golf-icon.png", :alt => "golf icon", :class => "img-section-a")%>
            <p class="lead">Easy to find and join local golf tournaments.</p>
        </div>

        <div class="col-lg-4 col-sm-6">
            <h2 class="section-heading">Organizer</h2>
            <%= image_tag("trophy-icon.png", :alt => "trophy icon", :class => "img-section-a")%>
            <p class="lead">Powerful tools to host, organize and advertise golf tournaments</p>
            <ul class="list-inline intro-social-buttons padding-navbar" align="middle">
                <li>
                    <% if account_signed_in? %>
                    <%= link_to('My Account', profiles_path, :class => "btn btn-default btn-lg")  %>
                <% else %>
                    <%= link_to('Sign up', new_account_registration_path, :class => "btn btn-default btn-lg")  %>
                    <% end %>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 col-sm-6">
            <h2 class="section-heading">Sponsor</h2>
            <%= image_tag("money-icon.png", :alt => "money icon", :class => "img-section-a")%>
            <p class="lead">Search and apply for golf tournament sponsorship</p>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<a name="contact"></a>
<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>Please follow us on: </h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="#" class="btn btn-default btn-lg">
                            <i class="fa fa-twitter fa-fw"></i>
                            <span class="network-name">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/zhang295/csc444" class="btn btn-default btn-lg">
                            <i class="fa fa-github fa-fw"></i>
                            <span class="network-name">Github</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default btn-lg">
                            <i class="fa fa-linkedin fa-fw"></i>
                            <span class="network-name">Linkedin</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
