<%= form_for @sponsor, :html => {:multipart => true} do |f| %>
  <% for error in @sponsor.errors.full_messages %>
    <li><%= error %></li>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Organization Name' %><br/>
    <%= f.text_field :name, class: "form-control"%>
  </div>


  <div class="form-group">
    <%= f.label :logo, 'Logo', class: "custom-file" %>
    <%= f.file_field :logo, class: "custom-file-input"%>
    <span class="custom-file-control"></span>
  </div>

  <div class="form-group">
    <%= f.label :website, 'Website' %><br/>
    <%= f.text_field :website, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :contact, 'Contact' %><br/>
    <%= f.text_field :contact, class: "form-control" %>
  </div>
  <%= f.submit "Create",class:"btn btn-primary" %>
<% end %>
