<div class="padding-navbar">
    <% tournament = Tournament.find(params[:tournament_id]).name %>
    <h1>Become a Sponsor for <%= tournament %></h1>
    <%= form_tag sponsors_create_path, multipart: true do |f| %>
    <% for error in @sponsor.errors.full_messages %>
      <li><%= error %></li>
    <% end %>
    <article>
      <%= label_tag(:name, 'Orgnization Name') %><br/>
      <%= text_field_tag(:name) %>
    </article>
    <article>
      <%= label_tag(:logo, 'Logo') %><br/>
      <%= file_field_tag(:logo) %>
    </article>
    <article>
      <%= label_tag(:website, 'Website') %><br/>
      <%= text_field_tag(:website) %>
    </article>
    <article>
      <%= label_tag(:business_phone_number, 'Phone') %><br/>
      <%= text_field_tag(:business_phone_number) %>
    </article>
    <article>
      <%= label_tag(:business_email, 'Email') %><br/>
      <%= text_field_tag(:business_email) %>
    </article>
    <article>
      <%= label_tag(:contact, 'Contact') %><br/>
      <%= text_field_tag(:contact) %>
    </article>
    <article>
      <%= label_tag(:amount, 'Donation Amount:') %><br/>
      <%= text_field_tag(:amount) %>
    </article>
    <article>
      <% @account = Account.find(current_account.id)%>
      <%= hidden_field_tag 'account_email', @account.email %>
      <%= hidden_field_tag(:stripeToken) %>
    </article>
    <button id='donateButton'>Submit</button>

    <% end %>
</div>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
var handler = StripeCheckout.configure({
  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
  locale: 'auto',
  token: function(token) {
    $('input#stripeToken').val(token.id);

    $('form').submit();
  }
});

$('#donateButton').on('click', function(e) {
  e.preventDefault();

  $('#error_explanation').html('');
  var name = $('input#name').val();
  var email = $('#account_email').val();
  var amount = $('input#amount').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')

  amount = parseFloat(amount);

  if (isNaN(amount)) {
    $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
  }
  else {
    amount = amount * 100; // Needs to be an integer!
    handler.open({
      name: 'Golf',
      description: 'pay',
      currency: 'cad',
      email: email,
      amount: Math.round(amount)
    })
  }
});

// Close Checkout on page navigation
$(window).on('popstate', function() {
  handler.close();
});
</script>
