<div class="padding-navbar">
    <h1>Become a Sponsor</h1>
    <%= form_for(:sponsor, :url => {:controller => 'sponsors', :action => 'create'}) do |f| %>
    <% for error in @sponsor.errors.full_messages %>
      <li><%= error %></li>
    <% end %>
    <div class="field">
        <%= f.label :name, 'Orgnization Name' %><br/>
        <%= f.text_field :name, autofocus: true %>
    </div>
    <div class="field">
        <%= f.label :website, 'Link to website' %><br/>
        <%= f.text_field :website %>
    </div>

    <div class="field">
        <%= f.label :business_phone_number, 'Phone' %><br/>
        <%= f.text_field :business_phone_number %>
    </div>

    <div class="field">
        <%= f.label :business_email, 'Email' %><br/>
        <%= f.text_field :business_email %>
    </div>

    <div class="field">
        <%= f.label :contact, 'Contact Information' %><br/>
        <%= f.text_field :contact %>
    </div>

    <div class="actions">
        <%= f.submit "Create" %>
    </div>
    <% end %>
</div>
