<div class="padding-navbar">
    <% t = Sponsor.find(params[:sponsor_id]) %>
    <h1><%=t.name%></h1>
    <%= image_tag t.logo.thumb.url %>
    <p>Sponsor website: <%=t.website%></p>
    <h3>Contact Information</h3>
    <ul>
      <li>Phone: <%=t.business_phone_number%></li>
      <li>e-mail: <%=t.business_email%></li>
      <li>other: <%=t.contact%></li>
    </ul>
</div>
