<%= form_for @sponsorship, :html => {:multipart => true} do |f| %>
  <% for error in @sponsorship.errors.full_messages %>
    <li><%= error %></li>
  <% end %>

  <div class="form-group">
    <%= f.label(:sponsors_id) do %>
        Select an existing sponsor</br>or to create a new one:
    <% end %>

    <%= select_tag :sponsors_id, options_for_select(@user.sponsors.collect {|p| [ p.name, p.id ] }),{:class => 'form-control'} %>
  </div>
  <%= f.hidden_field :tournament_id, :value => @tournament%>
  <%= f.hidden_field :amount, :value => "", :id => "amount"%>
  <%= f.hidden_field :stripe_token, :value => "", :id => "stripe_token"%>
<% end %>
