<p id="notice"><%= notice %></p>

<h1>Sponsorships</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsorships.each do |sponsorship| %>
      <tr>
        <td><%= link_to 'Show', sponsorship %></td>
        <td><%= link_to 'Edit', edit_sponsorship_path(sponsorship) %></td>
        <td><%= link_to 'Destroy', sponsorship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sponsorship', new_sponsorship_path %>
