<div class="padding-navbar">
<h1>Sponsorships of <%= @tournament.name %></h1>
<%= link_to "Back", @tournament %>
<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Amount</th>
    </thead>
    <tbody>
        <% @sponsorship.each do |t| %>
        <tr>
            <td><%= link_to t.sponsor.name, t.sponsor %></td>
<<<<<<< Updated upstream
            <td><%= t.amount/100%></td>
=======
            <td><%= t.amount%></td>
>>>>>>> Stashed changes
        </tr>
        <% end %>
    </tbody>
</table>
</div>
