<div class="new-session">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'login'}) do |f| %>
    <p class="form-title">Log In</p>

    <div class="field">
        <%= f.email_field :email, autofocus: true, :placeholder => "Email" %>
    </div>

    <div class="field">
        <%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="field remember-forgot">
        <%= f.check_box :remember_me%>
        Remember Me
    </div>
    <% end -%>
    <div class="actions">
        <%= f.submit "Log In", :class=>"btn btn-large btn-primary"%>
    </div>
    <% end %>
</div>
