<div class="new-session padding-navbar">
<!-- <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
<script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"></script>

<script>
    $(document).ready(function () {
        $("#new_account").validate({
            debug: true,
            rules: {
                "account[email]": {required: true, email: true},
                "account[password]": {required: true, minlength: 6}
            }
        });
    });
</script> -->
    <div class="login-container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'login'}) do |f| %>
    <p class="form-title">Log In</p>

    <div class="field">
        <%= f.email_field :email, autofocus: true, :placeholder => "Email" %>
    </div>

    <div class="field">
        <%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %>
    </div>


    <% if devise_mapping.rememberable? -%>
    <div class="field remember-forgot">
        <%= f.check_box :remember_me%>
        Remember Me
    </div>
    <% end -%>
    <div class="actions">
        <%= f.submit "Sign In", :class=>"btn btn-large btn-primary"%>
    </div>
    <p align='right'><%= link_to('Don\'t have a account?', new_account_registration_path) %></p>
    <% end %>
  </div>
</div>
