<div class="padding-navbar sponsor-background">
<div class="glass-container">
  <%= link_to '< Back', request.referrer %>
  <% @arrangement.tournaments_sub_admin.each do |key, value|%>
  <h1><%= key %></h1>
	<table class="table table-striped">
		<thead>
			<th>players</th>
			<th>group</th>
		</thead>
		<tbody>
      <% value.each do |t|%>
      <tr>
          <td><%= Account.find(t.account_id).name %> </td>
          <td><%= t.group_id %> </td>
          <td><%= form_for(:player, :url => {:controller => 'players', :account_id => t.account_id, :tournament_id =>t.tournament_id, :action => 'update'}) do |f| %>
              <%= f.text_field :group_id_subAdmin%>
              <%= f.submit "update"%>
          </td>
          <%end%>
			</tr>
      <%end%>
		</tbody>
	</table>
  <%end %>
</div>
</div>
