<div class="padding-navbar">
	<h1>Players</h1>
	<table class="table table-striped">
		<thead>
			<th>Tournament</th>
			<th>name</th>
			<th>group</th>
			<th>checkin</th>
		</thead>
		<tbody>
			<% @player_info.each do |t|%>
			<tr>
				<td><%= Tournament.find(t.tournament_id).name%></td>
				<td><%= Account.find(t.account_id).name%></td>
				<td><%= t.group_id%></td>
				<td><%= t.checkin%></td>
				<td><%= link_to 'Back', tournaments_index_path %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
