<div class="padding-navbar">
	<h1>Players</h1>
	<table class="table table-striped">
		<thead>
			<th>name</th>
			<th>group</th>
			<th>checkin</th>
		</thead>
		<tbody>
			<% if @player_info.present? %>
			<tr><%= Tournament.find(@player_info[0]).name%></tr>
			<% @player_info.each do |t|%>
			<tr>
				<td><%= Account.find(t.account_id).name%></td>
				<td><%= t.group_id%></td>
				<td><%= t.checkin%></td>
			</tr>
			<% end %>
			<% else %>
			<tr> No Players in This Tournament Yet </tr>
			<% end %>
		</tbody>
		</br>
		<tr><%= link_to 'Back', request.referrer %></tr>
	</table>
</div>
