<div class="static-pages-head padding-navbar">
</div>
<div class ="container">
	<div class="col-xs-12 static-pages-content">
		<legend><h3>Features for Golfi</h3></legend>
		<p>
			This site is implemented as a site for local golf tournaments. 
		</p>
		<ul>
			<li>
				To check the available local tournaments: <%= link_to('Tournaments', tournaments_path) %>
			</li>
			<li>
				To check our sponsors: <%= link_to('Partners', partners_path) %>
			</li>
		</ul>
		<p>
			In order to host, sponsor, and join a tournament, you need to either sign in as a returned user, or sign up for a new account:
		</p>
		<ul>
			<li> 
				For returned users: <%= link_to('Sign in', new_account_session_path) %>
			</li>
			<li> 
				For new users: <%= link_to('Sign up', new_account_registration_path) %>
			</li>
		</ul>
		<p>
			If you have any questions, please contact us at: <%= link_to('Contact us', contacts_path) %>
		</p>
	</div>
</div>