    <footer>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        Share this site:
                        <a href="http://facebook.com" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="http://instagram.com" class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                        <a href="http://linkedin.com" class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="http://twitter.com" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                    </ul>
                    <ul class="list-inline">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <%= link_to('About Us', about_us_path) %>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <%= link_to('Term of Services', term_of_service_path) %>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <%= link_to('Privacy Policy', privacy_policy_path) %>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <%= link_to('Contacts', contacts_path) %>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <%= link_to('FAQ', faq_path) %>
                        </li>
                    </ul>
                </div>
                    <p class="copyright text-muted small">Copyright &copy; CSC444 - PlayDirtinEastNorth 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>

    </footer>
