<!DOCTYPE html>
<html>
    <head>
        <title>Golf Tournament Organizer</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <!-- Custom CSS -->
        <style>
            body {
                /* padding-top: 0px;
                Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
            }
        </style>
    </head>

    <body>

        <!--Rendering global header-->
        <%= render "layouts/header" %>
        <!-- Page Content -->
        <!-- don't know why container is having a weird padding, commenting it for now -->
        <!-- <div class="container"> -->
            <!-- render from controllers -->
            <%= yield %>
        <!-- </div> -->
        <!-- /.container -->
        <!--Rendering global footer-->
        <%= render "layouts/footer" %>
    </body>
</html>
